@page
@model AspPix.Pages.IndexModel
@{
}

@using AspPix
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AspPix

<div>
    <script src="~/pix/js/file.js"></script>
    <div>
        <form id="form" method="get">
            <label>仅喜欢</label>
            <input type="checkbox" name="onlylive" checked="@Model.OnlyLive"/>
            <select id="select">
                <option value="">All</option>
                @foreach (var item in Model.Tags)
                {
                    if (Model.Tag == item)
                    {
                        <option value="@item" selected>@item</option>
                    }
                    else
                    {
                        <option value="@item">@item</option>
                    }

                }

            </select>
            <input type="text" name="tag" id="tag" value="@Model.Tag" />
            <input type="button" id="reset" value="清除" />
            <input type="date" name="date" id="date" value="@Model.Date" />
            <input type="date" name="date2" id="date2" value="@Model.Date2" />
            <input type="number" name="down" id="down" value="@Model.Down" />
        </form>
        <button class="up">上一页</button>
        <button class="down">下一页</button>
    </div>
    <div>
        @foreach (var item in Model.Scrs)
        {
            <a href="@item.big" target="_blank"><my-img img-uri="@item.small"></my-img></a>
        }
    </div>
    <div>
        <button class="up">上一页</button>
        <button class="down">下一页</button>
    </div>
</div>