@page
@model AspPix.Pages.IndexModel
@{
}

@using AspPix
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AspPix

<div>
    <script src="~/pix/js/file.js"></script>
    <div>
        <form id="form" method="get">
            <label>仅喜欢</label>
            <input type="checkbox" name="@nameof(Model.OnlyLive)" checked="@Model.OnlyLive" />
            <input type="text" id="tag" name="@nameof(Model.Tag)" value="@Model.Tag" list="exampleList"/>
            <datalist id="exampleList">
            </datalist>
            <input type="date" id="date" name="@nameof(Model.DateLeft)" value="@Model.DateLeft" />
            <input type="date" id="date2" name="@nameof(Model.DateRight)" value="@Model.DateRight" />
            <input type="number" id="down" name="@nameof(Model.Pages)" value="@Model.Pages" />
        </form>
    </div>
    <div id="imgs">
        @foreach (var item in Model.ImgUris)
        {
            <a href="@item.Big" target="_blank"><my-img img-uri="@item.Small"></my-img></a>
        }
    </div>
    <div id="last"></div>
</div>