@page
@model AspPix.Pages.ViewImgModel
@{
}


<div>
    <style>
        img {
            height: 95%;
        }
    </style>
    <script src="~/pix/js/img.js"></script>
    <div id="imgDiv" my="@Model.BigUri">
    </div>
    <div>
        <a href="@Model.LiveUri">@Model.IsLive</a>
    </div>
    <div>
        <span>@Model.Mesagge</span>
    </div>
    <div>
        <a href="@Model.SourceUri">Source</a>
    </div>
    <div>
        @foreach (var item in Model.Src)
        {
            <span>     </span><a href="@item.uri" target="_blank">@item.tag</a><span>      </span>
        }
    </div>
</div>